header {
 background-color:transparent !important;
}
body{
  margin:0px !important;
  padding:0px !important;
background-color:#000;
}

header h1 {
  color: #845460;
  padding-left: 72px;
  margin-top: 0px;
 
}

header h1 img{
  padding-left: 63px;
}
header nav ul li{
  display: inline-block;
  margin-left: 40px;
  font-size: large;
  padding-top: 30px;

}

header nav ul li a{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
header ul{
padding-bottom: 26px;
    padding-left: 250px;

}
.homepage_QuoteText{
   font-size: 35px;
    line-height: 106%;
    font-family: "Reaver", serif;
    letter-spacing: 6px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000000;
    padding-left: 101px;
}
 .homepage_QuoteCredit_gcx17 {
    font-size: 20px;
    font-family: "Radiance", sans-serif;
    letter-spacing: 2px;
    color: #ffffff90;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;  
    padding-left: 101px;  


}
footer{
  background-color: #bdc7c9;
}
.main-title{
  text-align:center;
  font-style:italic;
}

.main-images-box{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.image-box{
  display: flex;flex-wrap: nowrap;flex-direction:column; width: 50%;text-align:center;font-size: 30px;
}

.image-desc{
  font-size:14px;line-height:auto;background-color:transparent;color:#ffff
}







main h2 {
color:#FFF;
text-align:center;
font-size:300%;
font-style: italic;


}




.videobg  {
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    

 

   


}